<!doctype html>
<html ng-app="cartProject">
  <head>
    <meta charset="utf-8">
    <title>cartProject</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="MainController as main">

      <div class="row stats">
        <div class="col-md-6">
          <h3>Statystyki</h3>
          <div class="row">
            <div class="col-md-6">
              <p>Ilość aren: {{ cart.overAll() }} </p>
              <p>Suma gold: {{ cart.overAllGold() }}</p>
              <p>Suma dust: {{ cart.overAllDust() }}</p>
              <p>Wygrane: {{ cart.overAllWins() }}</p>
              <p>Zagrane: {{ cart.overAllGames() }}</p>
              <p>Przegrane: {{ cart.overAllLostGames() }}</p>
            </div>
            <div class="col-md-6">
              <p>Srednia: {{ cart.overAllAvg() }}</p>
              <p>zysk/strata: {{ cart.overAllWinLossRatio() }} G</p>
              <p>Niesplacone: {{ cart.overAllBadGames() }}</p>
              <p>zysk/strata grind: {{ cart.overAllGrind() }} G</p>
              <p>Szacunkowy czas gry: {{ cart.overAllTimePlayed() }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 classes">
          <h3>Klasy</h3>
          <div class="row">
            <div class="col-md-6">
              <p><img src="img/hunter.png" alt="hunter" width="256" height="256">Hunter: {{ cart.overAllHunter() }} </p>
              <p><img src="img/warlock.png" alt="warlock" width="256" height="256">Warlock: {{ cart.overAllWarlock() }} </p>
              <p><img src="img/warrior.png" alt="warrior" width="256" height="256">Warrior: {{ cart.overAllWarrior() }} </p>
              <p><img src="img/rogue.png" alt="rogue" width="256" height="256">Rogue: {{ cart.overAllRogue() }} </p>
              <p><img src="img/druid.png" alt="druid" width="256" height="256">Druid: {{ cart.overAllHunter() }} </p>
            </div>
            <div class="col-md-6">
              <p><img src="img/shaman.png" alt="shaman" width="256" height="256">Shaman: {{ cart.overAllShaman() }} </p>
              <p><img src="img/mage.png" alt="mage" width="256" height="256">Mage: {{ cart.overAllMage() }} </p>
              <p><img src="img/paladin.png" alt="paladin" width="256" height="256">Paladin: {{ cart.overAllPaladin() }} </p>
              <p><img src="img/priest.png" alt="priest" width="256" height="256">Priest: {{ cart.overAllPriest() }} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row input__container">
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 input__class">
                  <select required ng-model="productChar" class="table__input__class">
                    <option value="" disabled selected hidden>class</option>
                    <option value="Hunter">Hunter</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Warrior">Warrior</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Druid">Druid</option>
                    <option value="Mage">Mage</option>
                    <option value="Shaman">Shaman</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Priest">Priest</option>
                  </select>
                </div>
                <div class="col-md-4 input__cell">
                  <input class="form__wins" type="number" name="wins" placeholder="wins" ng-model="productWins"/>
                </div>
                <div class="col-md-4 input__cell">
                  <select  required ng-model="productPack1" name="nagroda1">
                    <option value="" disabled selected hidden>pack1</option>
                    <option ng-repeat="name in typyNagrod track by $index" value="{{$index}}">{{name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 input__cell">
                  <select  required ng-model="productPack2" name="nagroda2">
                    <option value="" disabled selected hidden>pack2</option>
                    <option ng-repeat="name in typyNagrod track by $index" value="{{$index}}">{{name}}</option>
                  </select>
                </div>
                <div class="col-md-4 input__cell">
                  <select  required ng-model="productPack3" name="nagroda3">
                    <option value="" disabled selected hidden>pack3</option>
                    <option ng-repeat="name in typyNagrod track by $index" value="{{$index}}">{{name}}</option>
                  </select>
                </div>
                <div class="col-md-4 input__cell">
                  <select  required ng-model="productPack4" name="nagroda4">
                    <option value="" disabled selected hidden>pack4</option>
                    <option ng-repeat="name in typyNagrod track by $index" value="{{$index}}">{{name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 input__cell">
                  <select  required ng-model="productPack5" name="nagroda5">
                    <option value="" disabled selected hidden>pack5</option>
                    <option ng-repeat="name in typyNagrod track by $index" value="{{$index}}">{{name}}</option>
                  </select> 
                </div>
                <div class="col-md-4 input__cell">
                  <input type="text" class="form__wins" name="score" placeholder="HA score" ng-model="productScore"/>
                </div>
                <div class="col-md-4 input__cell">
                  <input class="table__input__btn" type="submit" name="submit" value="Submit" ng-click="add()" >
                </div>
              </div>
            </div>
          </div>

          <div class="row input__container">
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 col-md-offset-8 input__cell">
                  <div ng-show="productPack1==1 || productPack1==2" class="form__input"> 
                    <input type="number" name="amount1" ng-model="productValue1" placeholder="amount"/>
                  </div>
                  <div ng-show="productPack1==3" class="form__input">
                    <select required name="nagroda1" ng-model="productValue1">
                      <option value="" disabled selected hidden>card colour</option>
                      <option ng-repeat="name in typyKart track by $index" string-to-number value="{{$index}}">{{name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 input__cell">
                  <div ng-show="productPack2==1 || productPack2==2" class="form__input"> 
                    <input type="number" name="amount2" ng-model="productValue2" placeholder="amount"/>
                  </div>
                  <div ng-show="productPack2==3" class="form__input">
                    <select required name="nagroda2" ng-model="productValue2">
                      <option value="" disabled selected hidden>card colour</option>
                      <option ng-repeat="name in typyKart track by $index" value="{{$index}}">{{name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 input__cell">
                  <div ng-show="productPack3==1 || productPack3==2" class="form__input"> 
                    <input type="number" name="amount3" ng-model="productValue3" placeholder="amount"/>
                  </div>
                  <div ng-show="productPack3==3" class="form__input">
                    <select required name="nagroda3" ng-model="productValue3">
                      <option value="" disabled selected hidden>card colour</option>
                      <option ng-repeat="name in typyKart track by $index" value="{{$index}}">{{name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4 input__cell">
                  <div ng-show="productPack4==1 || productPack4==2" class="form__input"> 
                    <input type="number" name="amount4" ng-model="productValue4" placeholder="amount"/>
                  </div>
                  <div ng-show="productPack4==3" class="form__input">
                    <select required name="nagroda4" ng-model="productValue4">
                      <option value="" disabled selected hidden>card colour</option>
                      <option ng-repeat="name in typyKart track by $index" value="{{$index}}">{{name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 input__group">
              <div class="row">
                <div class="col-md-4 input__cell">
                  <div ng-show="productPack5==1 || productPack5==2" class="form__input"> 
                    <input type="number" name="amount5" ng-model="productValue5" placeholder="amount"/>
                  </div> 
                  <div ng-show="productPack5==3" class="form__input">
                    <select required name="nagroda5" ng-model="productValue5">
                      <option value="" disabled selected hidden>card colour</option>
                      <option ng-repeat="name in typyKart track by $index" value="{{$index}}">{{name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 main__filter">
        <div class="row">
          <div class="col-md-2"><p><span class="fa fa-sort" aria-hidden="true"></span>Filter by Class:</p></div>
          <div class="col-md-2"><p><span class="fa fa-sort" aria-hidden="true"></span>Filter by Wins:</p></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"><p><span class="fa fa-sort" aria-hidden="true"></span>Filter by HA score:</p></div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <form>                                    <!--  formularz do wyszukiwania -->
            <div class="col-md-2">                     
              <select ng-model="testName">
                <option value="">None</option>
                <option value="Druid">Druid</option>
                <option value="Hunter">Hunter</option>
                <option value="Mage">Mage</option>
                <option value="Paladin">Paladin</option>
                <option value="Priest">Priest</option>
                <option value="Rogue">Rogue</option>
                <option value="Shaman">Shaman</option>
                <option value="Warlock">Warlock</option>
                <option value="Warrior">Warrior</option>
              </select>
            </div>
            <div class="col-md-2">
              <select ng-model="testWins">
                <option value="">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2">                    
              <input type="text" ng-model="testScore" placeholder="HA score">
            </div>
            <div class="col-md-2"></div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover aTable">
            <thead class="aThead">
              <tr class="aTr">
                <th ng-click="orderByMe('char')">CLASS</th>
                <th ng-click="orderByMe('wins')">WINS</th>
                <th>PACK1</th>
                <th>PACK2</th>
                <th>PACK3</th>
                <th>PACK4</th>
                <th>PACK5</th>
                <th ng-click="orderByMe('score')">HA SCORE</th>
                <th>btn</th>
              </tr>
            </thead>
            <tbody class="aTbody"> 
              <tr ng-repeat="product in cart.listOfProducts | filter: { char: testName, wins: testWins, score: testScore} | orderBy:myOrderBy track by $index " class="aTr">
                <td>{{product.char}}</td>
                <td>{{product.wins}}</td>
                <td>{{product.value1}}{{product.display1}}</td>
                <td>{{product.value2}}{{product.display2}}</td>
                <td>{{product.value3}}{{product.display3}}</td>
                <td>{{product.value4}}{{product.display4}}</td>
                <td>{{product.value5}}{{product.display5}}</td>
                <td>{{product.score}}</td>
                <td>
                  <button class="btn-danger" ng-click="removeElement(cart.listOfProducts.indexOf(product))">X</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
